body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #9fcbe0;
}

.container {
  display: inline-block;
  width: 800px;
  margin-top: 100px;
  margin-left: calc((100% - 800px) / 2);
  position: relative;  
}

.left-column {
    color: white;
  display: inline-block;
  width: 40%;
  float: left;
  background-color: blue;
  background-image: url(../img/foto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 30px;
  bottom: 30px;
}

h1 {
    position: absolute;;
    top: 40px;
    left: 40px;
    right: 40px;

}
.apacia {
    color: white;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px; 
}
.apacia>a {
    color: white
}
.right-column {
  width: 60%;
  float: right;
  padding: 60px;
  background-color: #fff;
}

.close {
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    
}
.close:hover {
    color: red;
    font-size: 50px;
    background-color: gray;
}

form {
  display: inline-block;
  width: 100%;
}
form > .form-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
form > .form-row:last-of-type {
  margin-bottom: 0;
}
form > .form-row > label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
form > .form-row > input {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border: none;
  border-bottom: 2px solid #ccc;
}
form > .form-row > button {
  float: left;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bold; /* bold: 700, normal: 400 */
  line-height: 20px;
  border: none;
  border-radius: 15px;
  background-color: #015cda;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
form > .form-row > span {
  float: left;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  line-height: 20px;
}
form > .form-row > a {
  float: left;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #015cda;
  text-decoration: none;
  font-weight: bold;
}